# Entornos virtuales
.venv/
venv/
env/
ENV/

# Variables de entorno y configuraciones locales
.env
.env.*

# Archivos de Python compilados y caches
__pycache__/
*.py[cod]
*$py.class

# Cachés y archivos temporales de herramientas y tests
*.cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# Logs y bases de datos temporales
*.log
*.sqlite
*.db
data/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos y carpetas de herramientas específicas
.playwright/
chroma_db/

# Directorios y archivos de dependencias y configuraciones locales
node_modules/
.vscode/
.idea/

# Archivos de build o distribución
build/
dist/
*.egg-info/

# Archivos de Docker locales y overrides
docker-compose.override.yml

# Archivos de Terraform
*.tfstate
*.tfstate.*
.terraform/

# Archivos swap, backup y temporales
*.bak
*.swp